
.footer{
    text-align: center;
    background-color: #ffde59;
    padding-bottom: 40px;

    .page-scroll{
        padding-top: 60px;
        margin-bottom: 30px;

        img{
            width: 15%;
        }
    }
}

.copyright{
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px){
    .footer{
    
        .page-scroll{
    
            img{
                width: 8%;
            }
        }
    }
    .copyright{
        font-size: 1.2em;
    }
}

@media (min-width: 1024px){
    .footer{
    
        .page-scroll{
    
            img{
                width: 3%;
            }
        }
    }
    .copyright{
        font-size: 1em;
    }
}